<h2 *ngIf="!config.isStpper" >{{config.title}}</h2>
<div class="">
<form [formGroup]="filterForm">
    <ng-container *ngFor="let field of config.fields">
        <div class="field col-4 form-group" [ngClass]="field?.col || 'md:col-4'"
            *ngIf="field.type == 'select' && field.multiple == true && field.hidden == false && field?.field != 'scope_package_id' && field?.field == 'vehicle_emission_category'">
            <label [for]="field?.field" class="block">{{field?.label}}</label>
            <p-multiSelect [inputId]="field?.field" [options]="field?.options" styleClass=" w-full"
                [formControlName]="field?.field" [defaultLabel]="field.placeholder"
                selectedItemsLabel="{0} items selected" [optionLabel]="field?.optionLabel || 'name'"
                [optionValue]="field?.optionValue || 'id'" appendTo="body" [disabled]="field.disabled" [required]="field?.required">
            </p-multiSelect>
            <small *ngIf="filterForm.get(field?.field)?.touched" class="p-error block">
                <span *ngIf="filterForm.get(field?.field)?.hasError('invalid')">{{field?.label}} is
                    invalid</span>
                <span *ngIf="filterForm.get(field?.field)?.hasError('required')">{{field?.label}} is
                    required</span>
            </small>
        </div>

        <div class="field col-4 form-group" style="margin-bottom: 8px" *ngIf="field.type == 'select' && field.hidden == false && field?.field != 'delivery_or_collection' && field?.field != 'vehicle_emission_category'">
            <label [for]="field?.field" class="block">{{field?.label}} : </label>
            <p-dropdown [inputId]="field?.field" [options]="options[field?.field]" styleClass=" w-full"
                [placeholder]="field?.placeholder" [optionLabel]="field?.optionLabel || 'name'"
                [optionValue]="field?.optionValue || 'id'" [formControlName]="field?.field" appendTo="body"
                [autoDisplayFirst]="false" (onChange)="field?.onChange($event,field?.field)"
                [required]="field?.required">
            </p-dropdown>

            <small *ngIf="filterForm.get(field?.field)?.touched" class="p-error block">
                <span *ngIf="filterForm.get(field?.field)?.hasError('invalid')">{{field?.label}} is
                    invalid</span>
                <span *ngIf="filterForm.get(field?.field)?.hasError('required')">{{field?.label}} is
                    required</span>
            </small>
        </div>

        <div class="field col-4 form-group" style="margin-bottom: 8px" *ngIf="field.type == 'text' && field.hidden == false">
            <label [for]="field?.field" class="block">{{field?.label}} : </label>
            <input [id]="field?.field" [name]="field?.field" class=" " type="text" pInputText
                [formControlName]="field?.field" [required]="field?.required" />

                <small *ngIf="filterForm.get(field?.field)?.touched" class="p-error block">
                    <span *ngIf="filterForm.get(field?.field)?.hasError('invalid')">{{field?.label}} is
                        invalid</span>
                    <span *ngIf="filterForm.get(field?.field)?.hasError('required')">{{field?.label}} is
                        required</span>
                </small>
        </div>

        <div class="field col-4" style="margin-bottom: 8px" [ngClass]="field?.col || 'md:col-4'"
            *ngIf="field.type == 'checkbox'">
            <label [for]="field?.field" class="block">{{field?.label}} : </label>
            <input type="checkbox" [name]="field?.field" [formControlName]="field?.field" [value]="field?.value" [required]="field?.required">

            <small *ngIf="filterForm.get(field?.field)?.touched" class="p-error block">
                <span *ngIf="filterForm.get(field?.field)?.hasError('invalid')">{{field?.label}} is
                    invalid</span>
                <span *ngIf="filterForm.get(field?.field)?.hasError('required')">{{field?.label}} is
                    required</span>
            </small>
        </div>

        <div class="field col-4 form-group" style="margin-bottom: 8px" [ngClass]="field?.col || 'md:col-4'"
            *ngIf="field.type == 'select' && field.hidden == false && field?.field == 'delivery_or_collection'" >
            <label [for]="field?.field" class="block">{{field?.label}} : </label>
            <div *ngFor="let radio of options[field?.field] | keyvalue">
                <input type="radio" [name]="field?.field" [formControlName]="field?.field" [value]="radio.value" [required]="field?.required">
                <label [for]="field?.field" class="block">{{radio.key}}</label>
                <!-- <p-radioButton [inputId]="radio" [name]="field?.field"
                    [value]="radio.value" [label]="radio.key"
                    [formControlName]="field?.field"></p-radioButton> -->
            </div>

            <small *ngIf="filterForm.get(field?.field)?.touched" class="p-error block">
                <span *ngIf="filterForm.get(field?.field)?.hasError('invalid')">{{field?.label}} is
                    invalid</span>
                <span *ngIf="filterForm.get(field?.field)?.hasError('required')">{{field?.label}} is
                    required</span>
            </small>
        </div>

    </ng-container>
    <!-- <button mat-raised-button color="primary" (click)="createEvent()">Next</button> -->

    <button *ngIf="config.isStpper" mat-raised-button color="primary" (click)="previous()" >Previous</button>
    <button mat-raised-button color="primary" (click)="createEvent()">Next</button>
</form>
</div>