<form [formGroup]="filterForm">
    <label [for]="field?.field" class="block">{{field?.label}} : </label>
    <input type="checkbox" [name]="field?.field" [formControlName]="field?.field" [value]="field?.value"
        [required]="field?.required">

    <small *ngIf="filterForm.get(field?.field)?.touched" class="p-error block">
        <span *ngIf="filterForm.get(field?.field)?.hasError('invalid')">{{field?.label}} is
            invalid</span>
        <span *ngIf="filterForm.get(field?.field)?.hasError('required')">{{field?.label}} is
            required</span>
    </small>
</form>