<div *ngIf="isStpper">
    <p-steps [model]="items" [activeIndex]="activeIndex" [readonly]="false"></p-steps>
</div>

<div *ngIf="currentStep == 'select_scope_package'">
    <app-scope-package (createFn)="createFn($event)" [otherData]="otherData"></app-scope-package>
</div>

<div *ngIf="currentStep == 'basic_info'">
    <app-basic-information (createFn)="createFn($event)" [otherData]="otherData"></app-basic-information>
</div>

<div *ngIf="currentStep == 'vehicle_and_driver'">
    <app-vehicle-and-driver-selection (createFn)="createFn($event)" [otherData]="otherData"></app-vehicle-and-driver-selection>
</div>
